.showCreators-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landing-photo {
    width: 98%;
    height: 95vh;
    background-image: url('../assets/landing2.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.creator-card {
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: #34b4eb;
    padding-top: 20px;
}

.creator-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}